#new-user-btn {
  display: inline-block;
  width: 335px;
  height: 50px;
  background-color: #000;
  margin-left: 1.5rem;
  margin-top: 2rem;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
}

#new-user-btn p {
  width: 335px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.5px;
  word-break: break-word;
  text-align: center;
  white-space: normal;
}

#new-user-btn:active {
  transform: scale(0.9);
}
