:root {
  --pixel-size: 6;
}

#hatch {
  position: relative;
  width: 100vw;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hatch-wrapper {
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  overflow: hidden;
  position: relative;
  margin: 4em auto;
}

.type-2 {
  padding-left: 2rem;
}

.spritesheet {
  display: block;
  position: absolute;
  width: calc(1024px * var(--pixel-size));
  max-width: none;

  background-repeat: no-repeat;
  background-size: cover;
}

.egg-1 {
  top: calc(-32px * 25 * var(--pixel-size));
}

.egg-2 {
  top: calc(-32px * 26 * var(--pixel-size));
}

.unhatched {
  animation: unhatched 2s steps(3) infinite !important;
}

.hatched {
  animation: hatched 2s steps(6) infinite !important;
}

.pixel-art {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@keyframes unhatched {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(-32px * 3 * var(--pixel-size)), 0, 0);
  }
}

@keyframes hatched {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(-32px * 6 * var(--pixel-size)), 0, 0);
  }
}
